.yourParentDivCssClass ::ng-deep .mat-step-header .mat-step-icon {
  display: none !important;
}
table {
  width: 50vw;
}
.mat-sort-header-container {
  align-items: center;
}
.width-paginator {
  width: 50vw;
}
.btn-stepper-hover:hover {
  margin-right: 6px;
  background-color: white;
  color: #f2b705;
  transition: background-color 0.3s ease-in-out;
}
@media (min-width: 0px) {
  .width-paginator {
    width: 62vw;
  }
  .p-position {
    text-align: end;
    position: relative;
    right: 5px;
    top: 5px;
  }
}
@media (min-width: 1024px) {
  .width-paginator {
    width: 50vw;
  }
  .p-position {
    text-align: end;
    position: relative;
    right: 85px;
    top: 5px;
  }
}
.div-general {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div-monto {
  display: none;
  text-align: center;
}
.div-nivel-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div-nivel-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div-canvas {
  width: 800px;
  height: 400px;
}
