table {
  width: 90vw;
}
.mat-sort-header-container {
  align-items: center;
}
.width-paginator {
  width: 90vw;
}
.paginator-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.tabla-mobile {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 20px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.display-tablaPC,
.display-tablaMobile {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn-stepper-hover:hover {
  margin-right: 6px;
  background-color: #f2b705;
  color: white;
  transition: background-color 0.3s ease-in-out;
}
@media (min-width: 0px) {
  .mi-componente-background {
    background-color: #f2b705;
  }
  .mat-card-style {
    /* style="margin: 70px auto;width: 35%;height: 380px;" */
    background-color: white;
  }
}
/* --------------------PANTALLA CELULARES--------------------*/

/* --------------------PANTALLA PARA MONITORES-------------------- */
@media (min-width: 1024px) {
  .mat-card-style {
    width: 40%;
    margin: 20px auto;
  }
  .mi-componente-background {
    background-color: #f2b705;
  }
}
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 1px;
}
