<div>
  <mat-accordion>
    <div style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
      <img src="../../../../../assets/message_icon.png" width="80px" height="80px">
      <h2>Preguntas frecuentes</h2>
    </div>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo funciona la app?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div>
        <p>Dentro de la aplicación cada empleado puede visualizar diferentes reportes en relación a las necesidades de
          la
          empresa, como también visualizar tanto los proveedores, los productos y demás información dentro del
          sistema. Tiene permitido generar una compra con los diferentes productos cargados y asociados a cada
          proveedor registrado dentro de la aplicación, generando una orden de compra donde el usuario administrador
          establece e inmediatamente notifica el estado de la misma.</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo realizar una compra?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div>
        <p>Para realizar una compra debe hacer lo siguiente: </p>
        <ol type="n1">
          <li>Ir hasta el menú <b>Reportes.</b></li>
          <li>Elegir el proveedor, y luego las formas de envío y de pago deseadas.</li>
          <li>Seleccionar productos e insertar cantidades.</li>
          <li>Por último, si los datos cargados son correctos, presionar el botón <b>Comprar.</b> Recibirá un correo
            siendo
            notificado acerca de la emisión y del estado de la nueva orden de compra.</li>
        </ol>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Qué formas de envío utilizan?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div>
        <div style="display: flex;">
          <img src=" ../../../../../assets/cadeteria_icon.png" width="38px" height="38px">
          <h3 style="padding-left: 5px;">Cadetería</h3>
        </div>
        <h4>Abonas un total de $450 extra</h4>
      </div>
      <div>
        <div style="display: flex;">
          <img src="../../../../../assets/mercadoLibre_icon.svg" width="38px" height="38px">
          <h3 style="padding-left: 5px;">Mercado Libre</h3>
        </div>
        <h4>Abonas un total de $1200 extra</h4>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Qué formas de pago utilizan?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div>
        <div>
          <h3 style="padding-left: 5px;">Tarjetas de débito</h3>
          <div style="display: flex; justify-content: space-evenly;">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/312238e0-571b-11e8-823a-758d95db88db-m.svg"
              width="50px" height="45px">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/ce454480-445f-11eb-bf78-3b1ee7bf744c-m.svg"
              width="50px" height="45px">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/157dce60-571b-11e8-95d8-631c1a9a92a9-m.svg"
              width="50px" height="45px">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/cb0af1c0-f3be-11eb-8e0d-6f4af49bf82e-m.svg"
              width="50px" height="45px">
          </div>
        </div>
      </div>
      <div>
        <div>
          <h3 style="padding-left: 5px;">Tarjetas de crédito</h3>
          <div style="display: flex; justify-content: space-evenly;">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/992bc350-f3be-11eb-826e-6db365b9e0dd-m.svg"
              width="50px" height="45px">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/aa2b8f70-5c85-11ec-ae75-df2bef173be2-m.svg"
              width="50px" height="45px">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/a5f047d0-9be0-11ec-aad4-c3381f368aaf-m.svg"
              width="50px" height="45px">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/fbf867c0-9108-11ed-87b1-fd4dd99fac51-m.svg"
              width="50px" height="45px">
          </div>
        </div>
      </div>
      <div>
        <div>
          <h3 style="padding-left: 5px;">Efectivo</h3>
          <div style="display: flex;justify-content: space-evenly;">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/fec5f230-06ee-11ea-8e1e-273366cc763d-m.svg"
              width="50px" height="45px">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/443c34d0-571b-11e8-823a-758d95db88db-m.svg"
              width="50px" height="45px">

          </div>
        </div>
      </div>
      <div>
        <div>
          <h3 style="padding-left: 5px;">Mercado Pago</h3>
          <div style="display: flex;justify-content: space-evenly;">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/b4534650-571b-11e8-95d8-631c1a9a92a9-m.svg"
              width="50px" height="45px">
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo me puedo contactar?
        </mat-panel-title>

      </mat-expansion-panel-header>
      <div>
        <h3>Podes contactarte con nosotros a través de</h3>
        <div style="display: flex;flex-direction: column;">
          <div style="display: flex; align-items: center;flex-direction: row;">
            <img src="../../../../../assets/gmail_icon.png" width="30px" height="30px">
            <a target="_blank" style="padding-left: 5px;color:black;text-decoration: none;"
              href="mailto:fede1234gordillo@gmail.com">suplementosfg_fit&#64;gmail.com</a>
          </div>
          <br>
          <div style="display: flex; align-items: center;flex-direction: row;">
            <img src="../../../../../assets/whatsapp_icon.png" width="30px" height="30px">
            <a target="_blank" style="padding-left: 5px;color:black;text-decoration: none;"
              href="https://api.whatsapp.com/send/?phone=5493517583345&text&type=phone_number&app_absent=0">3517583345</a>


          </div>
        </div>
      </div>
    </mat-expansion-panel>


  </mat-accordion>
</div>
