:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mi-componente-background {
  background-color: #f2b705;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 0px) {
  .mi-componente-background {
    background-color: #f2b705;
  }
  .mat-card-style {
    background-color: white;
  }
}
/* --------------------PANTALLA CELULARES--------------------*/

/* --------------------PANTALLA PARA MONITORES-------------------- */
@media (min-width: 1024px) {
  .mat-card-style {
    width: 40%;
    margin: 20px auto;
  }
  .mi-componente-background {
    background-color: #f2b705;
  }
}
/* --------------------PANTALLA PARA MONITORES-------------------- */
